*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#parent{
    display: grid;
    grid-template-columns:50% 25% 25%;
    grid-template-rows: 100% 100% 100% 100% 100% ;
    grid-template-areas:"one one"
            " two  two"
            " three three four"
            "five five"
            "six seven";
     row-gap: 10px;     
    column-gap: 10px;                
        }         
}
.element{
    color: tomato;
    background: turquoise;
}

#parent #one:nth-child(1){
    grid-area: one;
}

#parent #two:nth-child(2){
    grid-area: two;
}

#parent #three:nth-child(3){
    grid-area: three;
}

#parent #four:nth-child(4){
    grid-area: four;
}

#parent #five:nth-child(5){
    grid-area: five;
}

#parent #six:nth-child(6){
    grid-area: six;
}

#parent #seven:nth-child(7){
    grid-area: seven;
}

@media screen and (max-width:900px){
    #parent{
        display: grid;
        grid-template-columns: auto;
        grid-area: "one"
                    "two"
                    "three"
                    "four"
                    "five"
                    "six"
                    "seven";
    }
    
}