*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.parallax{
    /* background:url(./img3\ \(2\).jpg); */
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

#p1{
    background-image: url(../images/img1.jpg);
}

#p2{
    background-image: url(../images/img3\ \(2\).jpg);
}

#p3{
    background-image: url(../images/img2.jpg);
}

#p4{
    background-image: url(../images/img4.jpg);
}

.ptext{
    font-size: 200%;
    color: rgba(236, 236, 240, 0.993);
    background-color: rgba(90, 33, 12, 0.822);
    margin: auto;

}  

.section_1{
    background-color:rgba(192, 153, 138, 0.705) ;

}

h2{
    font-size: 50px;
    text-align: center;
    color:white;
    background-color:rgba(90, 33, 12, 0.822);
    height:none;
    padding-bottom: 5%;
}

p{
    color: rgb(104, 72, 36);
}

#parallax_2{
    background:url(./img2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    
}



#parallax_3{
    background:url(./img4.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px; 

}





#parallax_4{
    background:url(./img1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px; 
}


